<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="/vue.js"></script>
    <script src="/axios.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- 引入样式 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>   <!-- 引入组件库 -->

<body>
<div id="app">
    <!--        账户<input type="text" v-model="account"><br>-->
    <!--        密码<input type="password"  v-model="pwd"><br>-->
    <!--        <button type="submit" @click="login" >登录</button>-->

    <el-row>
        <el-input placeholder="请输入账户" style="width: 260px" v-model="account"></el-input><br>
        <el-input placeholder="请输入密码" style="width: 260px" v-model="pwd"></el-input><br>
    </el-row>
    <el-row>
        <el-button type="success" @click="login">立即登录</el-button>
        <el-button type="success" @click="regist">注册</el-button>
        <el-checkbox v-model="rememberMe" name="rememberMe">记住我</el-checkbox>{{rememberMe}}
    </el-row>

</div>

<script>
    var vm = new Vue({
        el:"#app",
        data:{
            account:'',
            pwd:'',
            rememberMe:''
        },
        methods:{
            regist:function (){
                window.location.href="/page/reg"
            },
            login:function (){
                //调用axios 发送到后台
                axios.post("/admin/loginByShiro",{
                    adminAccount:this.account,
                    adminPwd:this.pwd,
                    rememberMe:this.rememberMe

                }).then(res =>{
                    console.log(res)
                    console.log(res.data.code)
                    if(res.data.code==20000){
                    window.location.href="/page/studentsList?account"+this.account
                    this.$alert('欢迎'+this.account+"登录", '登录成功', {
                        confirmButtonText: '确定',
                //         callback: action => {
                //         this.$message({
                //         });
                // }
                });
                }else{
                    if(res.data.code==40001){
                        this.$alert('账号输入错误', '登录失败', {
                            confirmButtonText: '确定',
                            // callback: action => {
                            // this.$message({
                            //     type: '请重新输入',
                            //     message: `action: ${ action }`
                            // });
                    //}
                    });
                    }else{
                        this.$alert('密码输入错误', '登录失败', {
                            confirmButtonText: '确定',
                    //         callback: action => {
                    //         this.$message({
                    //             type: '请重新输入',
                    //             message: `action: ${ action }`
                    //         });
                    // }
                    });
                    }

                }

            });
            },

        }

    })
</script>
</body>
</html>
