<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">


<head>
    <meta charset="UTF-8">
    <title>学生的列表页</title>
    <!--<link rel="stylesheet" href="/element-ui-2.13.2.css">-->
    <script src="/vue.js"></script>
    <!--<script src="/element-ui-2.13.2.js"></script>-->
    <script src="/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">

    <template>
            <div>
               <el-button type="danger" @click="logout">退出</el-button>
            </div>


        <el-dialog title="修改" :visible.sync="dialogFormVisible">
            <el-form :model="student">
                <el-form-item label="学生姓名" :label-width="formLabelWidth">
                    <el-input v-model="studentByEdit.studentName"></el-input>
                </el-form-item>

                <el-form-item label="学生性别" :label-width="formLabelWidth">
                    <!--<el-input v-model="student.studentSex" ></el-input>-->
                    <el-radio-group v-model="studentByEdit.studentSex">
                    <el-radio-button label="0">女</el-radio-button>
                    <el-radio-button label="1">男</el-radio-button>
                    </el-radio-group>
                </el-form-item>

                <el-form-item label="学生手机号" :label-width="formLabelWidth">
                    <el-input v-model="studentByEdit.studentPhone" ></el-input>
                </el-form-item>

                <el-form-item label="身份证号" :label-width="formLabelWidth">
                    <el-input v-model="studentByEdit.studentCardId" ></el-input>
                </el-form-item>

                <el-form-item label="学生地址" :label-width="formLabelWidth">
                    <el-input v-model="studentByEdit.studentAddress" ></el-input>
                </el-form-item>

                <el-form-item label="学生入学时间" :label-width="formLabelWidth">
                    <!--<el-input v-model="studentByEdit.studentComeDate" ></el-input>-->
                    <div class="block">
                        <el-date-picker
                                v-model="studentByEdit.studentComeDate"
                                type="datetime"
                                placeholder="选择日期时间"
                                align="right"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>
                </el-form-item>

                <el-form-item label="角色Id" :label-width="formLabelWidth">
                    <el-radio-group v-model="studentByEdit.jiaoSeId">
                        <el-radio-button label="5" >学生</el-radio-button>
                        <el-radio-button label="6" >班委</el-radio-button>
                    </el-radio-group>
                </el-form-item>

            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="updateStudent">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="增加" :visible.sync="addFormVisible">
            <el-form :model="student">
                <el-form-item label="学生姓名" :label-width="formLabelWidth">
                    <el-input v-model="studentByAdd.studentName" ></el-input>
                </el-form-item>

                <el-form-item label="学生性别" :label-width="formLabelWidth">
                    <!--<el-input v-model="student.studentSex" ></el-input>-->
                    <el-radio-group v-model="studentByAdd.studentSex">
                        <el-radio-button label="1">男</el-radio-button>
                        <el-radio-button label="0">女</el-radio-button>
                    </el-radio-group>
                </el-form-item>

                <el-form-item label="学生手机号" :label-width="formLabelWidth">
                    <el-input v-model="studentByAdd.studentPhone" ></el-input>
                </el-form-item>

                <el-form-item label="身份证号" :label-width="formLabelWidth">
                    <el-input v-model="studentByAdd.studentCardId" ></el-input>
                </el-form-item>

                <el-form-item label="学生地址" :label-width="formLabelWidth">
                    <el-input v-model="studentByAdd.studentAddress" ></el-input>
                </el-form-item>

                <el-form-item label="学生入学时间" :label-width="formLabelWidth">
                    <!--<el-input v-model="student.studentComeDate" ></el-input>-->
                    <div class="block">
                        <el-date-picker
                                v-model="studentByAdd.studentComeDate"
                                type="datetime"
                                placeholder="选择日期时间"
                                align="right"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>
                </el-form-item>

                <el-form-item label="角色Id" :label-width="formLabelWidth">
                    <el-radio-group v-model="studentByAdd.jiaoSeId">
                        <el-radio-button label="5" >学生</el-radio-button>
                        <el-radio-button label="6" >班委</el-radio-button>
                    </el-radio-group>
                </el-form-item>

            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="addFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addStudent">确 定</el-button>
            </div>
        </el-dialog>


        <div>
            <div>
                <span th:text="${session.dbAdmin.getAdminName()}"> </span>登录了
            </div>
                <el-input v-model="student.studentName" placeholder="请输入内容" style="width: 20%"></el-input>
                <el-select v-model="student.studentSex" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            {{student.studentSex}}

            <el-button type="success" @click="searchBtn">搜&nbsp;&nbsp;索</el-button>
        </div>

        <div>

            <shiro:hasPermission name="学生的增加权限"><el-button type="success" @click="addBtn">增&nbsp;&nbsp;加</el-button></shiro:hasPermission>
        </div>

            <div>

        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="studentId"
                    label="学号"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="studentName"
                    label="学生姓名"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="studentSex" :formatter="formatRole"
                    label="学生性别"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="studentPhone"
                    label="学生手机号"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="studentCardId"
                    label="身份证号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="studentAddress"
                    label="学生地址"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="studentComeDate"
                    label="学生入学时间"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="jiaoSeId"
                    label="角色Id"
                    width="120"
                    :formatter="jiaose">
                <!--<template scope="scope">-->
                    <!--<span v-html="scope.row.jiaoSeId" v-if="scope.row.jiaoSeId=='6' " style="color: red"></span>-->
                    <!--<span v-html="scope.row.jiaoSeId" v-if="scope.row.jiaoSeId =='5' " style="color: green"></span>-->
                <!--</template>-->
            </el-table-column>

            <el-table-column label="操作">
                <template slot-scope="scope">
                    <shiro:hasPermission name="学生的编辑权限"><el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button></shiro:hasPermission>
                    <shiro:hasPermission name="学生的删除权限"><el-popover placement="top" width="120">
                        <!--<p>这是一段内容这是一段内容确定删除吗？</p>-->
                        <div style="text-align: right; margin: 0">
                            <el-button size="mini" type="text" @click="visible">取消</el-button>
                            <el-button type="primary" size="mini" @click="visible(scope.$index, scope.row)">确定</el-button>
                        </div>
                        <el-button slot="reference" type="danger">删除</el-button>
                        </el-popover></shiro:hasPermission>
                </template>
            </el-table-column>
        </el-table>

        </div>

        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </div>
    </template>
</div>

<script>
    var vm  = new Vue({
        el:"#app",
        data:{
            tableData: [],
            currentPage:1,
            page:1,
            limiy:10,
            total:0,

            options: [{
                value: '1',
                label: '男生'
            }, {
                value: '0',
                label: '女生'
            }],

            student: {
                studentName:"",
                studentSex:"",
                studentComeDate:"",
                jiaoSeId:''
            },
            studentByEdit:{},
            studentByAdd:{},
            dialogFormVisible: false,

            addFormVisible: false,


            formLabelWidth: '100px',
            pickerOptions: {
                shortcuts: [{
                    text: '今天',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: '昨天',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: '一周前',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            }

        },

        methods:{
            //退出
            logout:function(){
              axios.get('/admin/logout').then(res=>{
                  console.log(res)
                  if(res.data.code==20000){
                    this.$message({
                        message: '退出成功',
                        type: 'success'
                    });
                    alert("你选择了退出")
                    window.location.href="/page/login"
                }else{
                    this.$message.error('网络繁忙,请重试');
                  }
            });
            },

            //修改
            updateStudent(){
                axios.post('/students/updateOne',
                    this.studentByEdit).then(res=>{
                    console.log(res);
                    if(res.data.code==20000 ){
                    this.dialogFormVisible=false,
                    this.$message({
                        message: '修改成功',
                        type: 'success'
                    });
                }else{
                    //提示没有修改成功
                    this.$message.error(res.data.msg);
                }
                });
            },

            //增加
            addBtn:function(){
                alert("添加")
                this.addFormVisible =true;
            },

            //增加数据
            addStudent:function(){
                axios.post("/students/insert",
                    this.studentByAdd
                ).then(res=>{
                    console.log(res)
                    if (res.data.code==20000){
                    this.addFormVisible = false,
                        this.$message({
                            message: '添加成功',
                            type: 'success'
                        });
                }else{
                    // 失败提示没有修改成功
                    this.$message.error(res.data.msg);
                }
            });
            },

            //搜索
            searchBtn:function(){
                console.log("发送axiios")
                this.loadTable(this.page,this.limit);
            },

            //编辑
            handleEdit(index, row) {
                console.log(index, row);
                //第一个是索引,第二个是数据
                //点击后应该出现弹出框
                this.dialogFormVisible=true;
                this.studentByEdit=row;
                console.log(this.studentByEdit)
                //alert("该发送axios到后台")

            },

            //删除
            visible(index, row) {
                alert("删除用户")
                axios.get("/students/deleteOne",{
                    params:{
                        studentId:row.studentId
                    }
                }).then(res=>{
                    console.log(res)
                    if(res.data.code=200){
                    this.$message({
                        message: '删除成功',
                        type: 'success'
                    });
                }else{
                    this.$message.error('删除失败');
                }
            });
            },


            //删除
            handleDelete(index, row) {
                alert("删除")
                console.log(index, row);

            },

            //角色
            jiaose:function (row ){
                if(row.jiaoSeId == 5){
                    return "学生"

                }else if(row.jiaoSeId == 6) {
                    return "班委"
                }


                // return row.jiaoSeId == '5' ? "学生" : row.jiaoSeId == '6' ? "班委" : "aaa";
            },

            //性别
            formatRole:function (row, column) {
                return row.studentSex == '1' ? "男" : row.studentSex == '0' ? "女" : "aaa";
            },
            //条数
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.loadTable(this.page,val)
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.loadTable(val,this.limit)
            },
            loadTable:function(page,limit){
                axios.get("/students/selectPageAll",{
                             params:{
                                 page:page,
                                 limit:limit,
                                 studentSex:this.student.studentSex,
                                 studentName:this.student.studentName
                             }
                         }).then( res=>{
                             console.log(res)
                             // 把 json 数组 赋值给  tableData
                             this.tableData=res.data.data.list;
                             this.total=res.data.data.total;
                var username = sessionStorage.getItem("account")
                document.querySelector("#aa").innerHTML=username
                         });
            }
        },
        created(){
            this.loadTable(this.page,this.limit);
        }
        // created:function () {
        //     // 页面一加载就要访问url  /student/selectAll
        // }
    });
</script>
</body>
</html>